* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: silver;
	font-family: sans-serif;
}

#level_title {
	font-size: 18px;
	color: black;		
	font-weight: bold;
}

button {
	position: relative;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
}
button:hover {
	background-color: #2bbbad;
	transition: .2s ease-out;
}

div.items{
	text-align: center;
	margin-left : auto;
}